{{ define "main" }}
<section class="site-about-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-about-wrapper">
                    <div class="site-about-company">
                        <h1>{{ .Params.Heading }}</h1>
                    </div>
                    <div class="site-about-description">
                        <p>{{ .Params.Description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-expertise">
    <div class="container">
        <div class="section-title">
            <h2>What are Pack Walks?</h2>
            <p>
                Pack walks are an adventure for your dog, encompassing fun 1.5-2.5 hour walks across a range of
                landscapes, spanning rivers, bushlands, forest trails, and urban
                settings. Our primary focus is instilling confidence in dogs in
                a range of environments and guiding them to make good choices
                during high-stimulation scenarios. Each dog undergoes tailored
                training during walks, blending obedience and leash etiquette,
                encompassing basic commands such as follow, sit, down, stay, and
                recall. We prioritise fostering a calm and respectful energy
                on and off-leash during outings. Initially, dogs are kept on
                leash for several weeks to learn our routine, build a
                relationship with both myself and fellow pack members, foster
                clear expectations, and gain respect and trust.
                Pack sizes are deliberately limited to ensure individual
                attention, with new dogs integrated based on compatibility and
                suitability. Currently serving Rolleston, West Melton, and
                adjacent areas; for inquiries regarding coverage, please reach
                out.
            </p>
            <h2>What's next?</h2>
            <p>
                Ready to embark on this journey? A complimentary meet-and-greet
                is the next step, offering you insights into Pack Walks and allowing me to gather
                an understanding of your dog's temperament and
                preferences to ensure a good fit. If we're happy, we can then move ahead with an offsite
                assessment session. This acquaints your dog with car travel, allows me
                to assess existing skills, and introduces leash training in a
                controlled environment. Prior to pack integration, dogs undergo
                a minimum of two solo walks alongside myself and my lead dog,
                each lasting approximately 45 minutes at a rate of $45 per
                session. This foundational step allows me to establish a relationship,
                familiarise the dog with expectations, and provide a glimpse into
                the pack walk experience. 
            </p>
            <h2>Training</h2>
            <p>
                Training sessions are available for dogs of all ages and
                abilities, with a focus on positive reinforcement and
                relationship building. Sessions are tailored to the individual
                dog and their owner, with a focus on establishing a strong
                foundation of skills and behaviours. Training sessions are
                priced at $50 per session, with a minimum of two sessions
                required.
            </p>

            <h2>Pricing</h2>
            <table class="pricing-table">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Meet-and-Greet</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Offsite Assessment</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Introductory Training Walks</td>
                        <td>$45</td>
                    </tr>
                    <tr>
                        <td>Pack Walks - Rolleston & West Melton</td>
                        <td>$45</td>
                    </tr>
                    <tr>
                        <td>Pack Walks - Kirwee & Darfield</td>
                        <td>$50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div id="curator-feed-default-feed-layout"></div>
        <script type="text/javascript">
            /* curator-feed-default-feed-layout */
            (function () {
                var i,
                    e,
                    d = document,
                    s = "script";
                i = d.createElement("script");
                i.async = 1;
                i.charset = "UTF-8";
                i.src =
                    "https://cdn.curator.io/published/b7fcb128-d7f4-4d33-aefc-8c4290352d00.js";
                e = d.getElementsByTagName(s)[0];
                e.parentNode.insertBefore(i, e);
            })();
        </script>
    </div>
</section>

<section class="site-expertise">
    <div class="container">
        <div class="section-title">
            <h2>Cancellation Policy</h2>
            <p>
                We understand that life can be unpredictable, but in order to provide the best service to all our furry clients, we have implemented the following cancellation policy:
            </p>
            <ol>
                <li>
                    <b>Notice Requirement:</b> Clients are required to provide a minimum of 24 hours' notice for any cancellations or changes to scheduled walks. Clients are encouraged to communicate any changes or cancellations as soon as possible via phone or email.
                    Excessive last-minute cancellations may result pre-payment for services or termination of pack walk spot.
                </li>
                <li>
                    <b>Cancellation Fee:</b> Cancellations made with less than 24 hours' notice may be subject to a cancellation fee equivalent to the full cost of the scheduled walk.
                </li>

                <li>
                    <b>Exceptions:</b> We recognize that emergencies can occur,
                    and exceptions to the cancellation policy will be made in
                    cases of documented dog injury, illness, or other unforeseen
                    emergencies. Clients are encouraged to notify us as soon as
                    possible in such circumstances.
                    In cases of severe weather conditions (e.g., heavy hail, snow, extreme heat over 30 degrees), walks may be cancelled by Canine Club for the safety of both the dogs and staff. No cancellation fees will apply in such cases.

                </li>
            </ol>
            <p>
                By engaging our services, clients agree to adhere to the terms
                of this cancellation policy. Your cooperation in providing
                timely notice of cancellations is greatly appreciated and helps
                us maintain the quality and reliability of our dog walking
                services. Thank you for your understanding."
            </p>
        </div>
    </div>
</section>

{{ partial "call-to-action.html" . }} {{ end }}
